{% extends 'general_components/base.html' %}
{% block head_content%}
  <title>Creating ingredient</title>
{%endblock%}

{% block header_content %}
<h1>CREATE INGREDIENT</h1>
{% endblock %}

{% block main_content %}
    <form method="POST">
      {% csrf_token %}
      <div style="border: solid">{{form.as_p}}
        <input type="submit" value="submit"/>
      </div>
    </form>
{% endblock %}

{% block footer_content %}
<a href="{%url 'recipes:create' %}">Back to the recipe</a>
{%  endblock %}



