<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block head_content %}
    {% endblock %}
</head>
<body>
    <header>
        {% include 'general_components/navbar.html' %}
        {% block header_content%}
        {% endblock%}
    </header>
    <main>
        {% block main_content %}
        {% endblock%}
    </main>
    <footer>
        {% block footer_content%}
        {% endblock %}
    </footer>

    
</body>
</html>